/* /* .App img{
width: 100px;
height: 100px;
z-index: 0;
overflow-y: hidden;
} 
body{
    z-index: 1;
} */
#root {
  /* text-align: center; */
  background-size: cover;
  background-image: url(/SharedScreenshot4.jpg);
  /* background-color: black; */
  height: 100vh;
  /* max-width: 138%; */
  /* background-attachment: fixed; */
  /* background-repeat: no-repeat; */
  background-position: top;
}
  
  #barberlogo{
    position: absolute;
    top: 10%;
    left: 40%;
  }
#nphoto{
  position: absolute;
  top: 49%;
  left: 75%;
}
  /* .App a{
    margin: 1%;
     padding: 10px;
  display: inline-block;
    width: 18%;
    height: 5%;
    background-color:rgba(201, 104, 25, 0.452);
    color:white;
    text-decoration: none;
    border-radius: 15px;
  }
  
  .App a:hover { 
    background-color: rgba(201, 104, 25,0.500);
  }  */ 
  .nav-link {
    display: block;
    padding: 0.5rem 0rem;
}
  .navbar a{
    color: #e6e6e6;
    margin: 0 0px 0 18px;
    /* border-right: 1px solid; */
    padding: 0px 40px 0 0px;
    text-shadow: 1px 1px rgb(107, 107, 107);
    font-size: large;
    font-weight: 700;
  }
  .navbar a:hover{
    color: rgb(252, 249, 249);
    text-decoration: none;
    
  }

  .navbar.navbar-expand-lg.navbar-dark.bg-transparent{
    justify-content: space-between;
  }
  .links{
    text-align: center;
  }

  span.nav-link{
    font-size: 12px;
    white-space: nowrap;
    
  }
  /* #liLogin{
    border: 1px solid white;
    list-style: none;
    text-shadow: 1px 1px rgb(189, 152, 50);
    border-radius: 15px;
    margin: 5px 9px 15px 0px;
  } */
  /* #liLogin:hover{
    background-color: cornsilk;
  } */

  /* input{
    color: #fff6f6;
    background-color: #ff000000;
    /* border-bottom: 1px solid; */
    /* border: nan;
    border: none;
    border-bottom: 1px solid;
    outline: none;
    direction: rtl;
  } */ 
  .mr-auto, .mx-auto {
    margin: 0 24% 0 27% !important;
}
  .navbar-dark .navbar-nav .nav-link {
    color: #e2e1df;
}
.navbar-toggler-icon{
  font-size: small;
 
}
.navbar-toggler{
   text-decoration: none;
}
.navbar.navbar-expand-lg.navbar-light.bg-transparent{
  background-color: #88040479!important;
}
span.nav-link {
  /* font-size: 16px; */
  margin-bottom: 0%;
  font-family: cursive;
  text-shadow: none;
  text-transform: capitalize;
  /* font-size: 13px; */
  direction: rtl;
  text-align: end;
  display: contents;
}
.iconLocation{
  /* white-space: nowrap; */
/* padding: 0; */
  max-width: 30px;
  /* height: auto; */
}
.location{
padding: 0 !important;
width: 28px;
    height: 30px;
}

@media screen and (max-width:966px){
  span.nav-link{
    white-space: normal;
  }
}

.rington{
  max-width: 40px;
  background-color: #9f1212;
  border-radius: 50%;
}