.settingQueues{
    background-color: rgb(197, 196, 196);
    border: 1px solid black;
    display: inline-table;
    width: 200px;
    height: 200px;
}
.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 3.25rem;
    color: inherit;
}
#exit {
    /* margin-bottom: 5%; */
    font-family: cursive;
    text-shadow: 3px 2px rgb(189, 152, 50);
    text-transform: capitalize;
    font-size: 2.5rem;
    direction: ltr;
    text-align: end;
}
.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    text-align: center;
    font-size: 20px;
}
.alert-warning {
    color: #ffffff;
    background-color: #b42a2a;
    border-color: #b42a2a;
    text-align: center;
    font-size: 20px;
}
.settingQ{
    text-align: center;
    margin: 5% auto;
}

button{
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    text-decoration: none;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    transition:  all 0.2s;
    background-color: rgba(255, 166, 0, 0);
}

button:hover{
    color: black;
    background-color:#FFFFFF ;
}

@media all and (max-width:30em){
    button{
        display: block;
        margin: 0.4em auto;
    }
}


.arrayQ {
    overflow: auto;
    height: 38vh;
    width: 60%;
    margin: auto;
}

button, input, optgroup, select, textarea {
    margin: 5px;
    /* font-family: inherit; */
    /* font-size: inherit; */
    /* line-height: inherit; */
    border-radius: 11px;
    border: none;
    /* width: 12%; */
    /* height: 32%; */
    font-size: large;
}
.settingQ {
    text-align: center;
    margin: 2% 35%;
    padding: 1%;
    /* background-image: url(/border.png); */
    background-color: #8b775cb5;
    border-radius: 0 0 0 -19px;
    border: 13px solid #bbaf99;
    border-radius: 17px;
}

button:hover {
    color: #fffaef;
    background-color: #7b5d39;
}

.table .thead-light th {
    color: #495057;
    background-color: #bbaf99;
    border-color: #bbaf99;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #fff4df;
}

.h1, h1 {
font-size: 3.5rem;
margin-bottom: 0.5em;
}



.settingQ {
text-align: center;
margin: 2% 35% 4% 35%;
padding: 1%;
/* background-image: url(/border.png); */
background-color: #8b775cb5;
border-radius: 0 0 0 -19px;
border: 13px solid #bbaf99;
border-radius: 17px;
}


.dms-calendar-booking .mbsc-cal-txt.mbsc-hover:before {
    background: none;
}

.dms-calendar-booking .mbsc-sc-whl-gr-c {
    margin: 0 30px;
}

.dm-calendar-booking .mbsc-fr-c {
    text-align: center;
}



