* > .body{
    background: url(//www.google.com/images/errors/robot.png) 100% 5px no-repeat;
    padding-right: 205px;
}
.body{
    margin: 7% auto 0;
    max-width: 504px;
    min-height: 180px;
    padding: 30px 0 15px;
}
ins{
    color: #777;
    text-decoration: none;
}
#logo {
    display: inline-block;
    height: 54px;
    width: 150px;
}