
.gallery{
    text-align: center;
    margin-top: 5%;
}


.image-gallery-left-nav {
    top: 66%;
    left: 22%;
}

.image-gallery-left-nav, .image-gallery-right-nav {
  
    top: 52%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.image-gallery-left-nav .image-gallery-svg, .image-gallery-right-nav .image-gallery-svg {
    height: 120px;
    width: 60px;
}
.image-gallery-content.fullscreen {
    background: #000;
    margin: 7% 30% !important;
}

.image-gallery-left-nav:hover {
    color: black;
    background-color: #ffffff00 !important;
}
.image-gallery-right-nav:hover {
    color: black;
    background-color: #ffffff00 !important;
}
.image-gallery-content.bottom {
    margin: 6% 30% !important;
    padding: 0%;
}
.image-gallery-content .image-gallery-slide .image-gallery-image {
    max-height: calc(100vh - 35vh);
}
.image-gallery-image {
    max-width: 53vh !important;
    height: 50vh;
}


button:hover{
    background-color: transparent;
    /* color: wheat; */
}
   
    .image-gallery-thumbnail .image-gallery-thumbnail-image {
    vertical-align: middle;
    width: 100%;
    line-height: 0;
    height: 15vh;
    }
.image-gallery-icon:hover {
    color: #5e0303 !important;
}

.image-gallery-thumbnail:hover, .image-gallery-thumbnail:focus {
    outline: none;
    border: 4px solid #5e0303 !important;
}
.image-gallery-thumbnail.active, .image-gallery-thumbnail:hover, .image-gallery-thumbnail:focus {
    outline: none;
    border: 4px solid #5e0303 !important;
}